<!--********************************************* Create Batch Modal ************************************-->
<form (submit)="checkDates()">
  <div class="modal fade" id="createBatchModal" tabindex="-1" role="dialog" aria-labelledby="batchModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="batchModalLabel">Create New Batch {{batchFormName}}</h4>
        </div>
        <!-- Add Batch Info -->
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-md-6 col-sm-6">
              <label for="trainingName">Training Name:</label> 
              <input [(ngModel)]="trainingName" type="text" class="form-control"
                id="trainingName" placeholder="1611 Jul11 Java" minlength="1" autofocus required name="trainingName">
            </div>
            <div class="form-group col-md-6 col-sm-6">
              <label for="trainingType">Training Type:</label>
              <select [(ngModel)]="trainingType" class="form-control" id="trainingType" required name= "trainingType">
                <option [ngValue]="null" disabled>Select Training Type</option>
                <option  *ngFor="let option of trainingTypes" [ngValue]="option">{{option}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 col-sm-6">
              <label for="skillType">Skill Type:</label> <select [(ngModel)]="skillType" name= "skillType" class="form-control" id="skillType"
                required>
                <option [ngValue]="null" disabled>Select Skill Type</option>
                <option *ngFor="let option of skillTypes" [ngValue]="option">{{option}}</option>
              </select>
            </div>
            <!-- Dropdown for location -->
            <div class="form-group col-md-6 col-sm-6">
              <label for="commonLocations">Location :</label>
              <!-- Leave the comment below -->
              <!-- ng-options is used ass opposed to ng-repeat because an entire object needs to be passed -->

              <!-- TO DO: implement filter group by option.state for option in (location.options | orderBy:['state','company']  | filter : {active:true})  track by option.addressId" -->
              <select [(ngModel)]="location" id="location" required class="form-control" required name= "location">
                <option [ngValue]="null" disabled>Select Location</option>
                <option *ngFor="let option of locationOptions" [ngValue]="option">option.company, option.street, option.city,
                  option.state, option.zipcode</option>
              </select>
            </div>
            <!-- Dropdown ends -->

          </div>
          <div class="row">
            <div class="form-group col-md-6 col-sm-6">
              <label for="trainer">Trainer:</label>
              <select [(ngModel)]="trainer" class="form-control" id="trainer" required name= "trainer">
                <option [ngValue] = "null" disabled>Select Trainer</option>
                <option *ngFor="let option of trainers" [ngValue]="null">{{option.name}}</option>
              </select>
            </div>
            <div class="form-group col-md-6 col-sm-6">
              <label for="co-trainer">Co-Trainer:</label> 
              <select [(ngModel)]="coTrainer" class="form-control" id="co-trainer" name= "coTrainer">
                <option [ngValue]="null" disabled>Select Co-Trainer</option>
                <option [ngValue]="none">None</option>
                <option *ngFor="let option of trainers" [ngValue]="option">{{option.name}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 col-sm-6" format="YYYY-MM-DD">
              <label for="start-date">Start Date:</label>
              <div class="input-group" id="start-date" data-datepicker="true">
                <input type="date" class="date-input form-control date-selector" name="s" min="0" placeholder="Start Date"
                  [(ngModel)]="startDate"
                  required><span class="input-group-addon glyphicon glyphicon-calendar"></span>
              </div>
            </div>
            <div class="form-group col-md-6 col-sm-6" format="YYYY-MM-DD">
              <label for="end_date">End Date:</label>
              <div class="input-group" id="end-date" data-datepicker="true">
                <input type="date" class="date-input form-control date-selector" name="date" placeholder="End Date"
                  [(ngModel)]="endDate" required>
                <span
                  class="input-group-addon glyphicon glyphicon-calendar">
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 col-sm-6">
              <label for="goodGrade">Good Grade: <span title="The minimum acceptable grade." alt="The minimum acceptable grade."
                  class="glyphicon glyphicon-question-sign"></span></label> 
                <input [(ngModel)]="goodGradeThreshold"
                (change)="setMinGrade()" type="number" min="0" step="1" class="form-control" name="goodGradeThreshold" id="goodGrade"
                placeholder="80" required>
            </div>
            <div class="form-group col-md-6 col-sm-6">
              <label for="borderlineGrade">Passing Grade: <span title="The minimum grade required to pass. Falling below this grade will likely result in disciplinary action."
                  alt="The minimum grade required to pass. Falling below this grade will likely result in disciplinary action."
                  class="glyphicon glyphicon-question-sign"></span></label> 
                <input [(ngModel)]="borderlineGradeThreshold"
                (change)="lowerMinGrade()" type="number" min="0" step="1" class="form-control" id="borderlineGrade"
                placeholder="50" required name= "passingGrade" max="goodGradeThreshold">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input value="Save" type="submit" class="btn btn-primary"/>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>