<nav class="navbar navbar-default">
	<div class="container header-styles">
		<div class="navbar-header">
      <a id="img-link" routerLink="vp/home" class="brand"> <img id="logo-id" class="img-responsive" src="assets/img/rev-logo.jpg" alt="revature" height="175" width="175"></a>
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="collapsibleNavbar" *ngIf="isSignedIn()">
			<ul class="nav navbar-nav navbar-right">
				<li data-toggle="collapse" data-target=".navbar-collapse.show"><a id="home-link" routerLink="home">Home</a></li>
				<li data-toggle="collapse" data-target=".navbar-collapse.show"><a id="manage-link" routerLink="manage">Manage Batch</a></li>
				<li data-toggle="collapse" data-target=".navbar-collapse.show"><a id="assess-link" routerLink="assess">Assess Batch</a></li>
				<li data-toggle="collapse" data-target=".navbar-collapse.show"><a id="quality-link" routerLink="audit">Quality Audit</a></li>
				<li data-toggle="collapse" data-target=".navbar-collapse.show"><a id="panel-link" routerLink="panels">Panel</a></li>
				<li data-toggle="collapse" data-target=".navbar-collapse.show"><a id="reports-link" routerLink="reports">Reports</a></li>
				<li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li data-toggle="collapse" data-target=".navbar-collapse.show"><a id="trainers-link" routerLink="trainers/viewTrainers">Trainers</a></li>
						<li data-toggle="collapse" data-target=".navbar-collapse.show"><a id="location-link" routerLink="locations">Locations</a></li>
						<li data-toggle="collapse" data-target=".navbar-collapse.show"><a id="category-link" routerLink="category">Category</a></li>
					</ul>
        </li>
        <li *ngIf="isSignedIn()" class="sign-out"><a (click)="signOut()">Sign Out</a></li>
			</ul>
		</div>
	</div>
</nav>
