<nav class="navbar navbar-default">
	<div class="container-fluid header-styles">
		<ul class="nav navbar-nav">
			<li><a id="img-link" routerLink="#/vp/home"> <img id="logo-id" class="img-responsive" src="assets/img/rev-logo.jpg" alt="revature" height="175" width="175">
			</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a id="home-link" routerLink="#/vp/home">Home</a></li>
			<li><a id="manage-link" routerLink="#/vp/manage">Manage Batch</a></li>
			<li><a id="assess-link" routerLink="#/vp/assess">Assess Batch</a></li>
			<li><a id="quality-link" routerLink="#/vp/audit">Quality Audit</a></li>
			<li><a id="panel-link" routerLink="#/vp/panels">Panel</a></li>
			<li><a id="reports-link" routerLink="#/vp/reports">Reports</a></li>		
			<li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a id="trainers-link" routerLink="#/vp/trainers">Trainers</a></li>
					<li><a id="location-link" routerLink="#/vp/locations">Locations</a></li> 
					<li><a id="category-link" routerLink="#/vp/category">Category</a></li>
				</ul></li>
			<!-- <li><a href="/revoke" target="_self">Logout</a></li> -->
		</ul>
	</div>
</nav>