/**********************
	Header
**********************/
.navbar-right {
	margin-top: .75em;
	margin-right: 5em;
}

.header-styles {
	background-color: white;
}

a {
	color: #F26925;
}

.sticky-header {
    padding: 10px;
    padding-right: 55px;
    font-size: 15px;
	width: 1000px;
} 