<div id="footer-id">
  <div class="container" id="footer-container">
    <div class="row" id="footer-row">
      <div class="footer-margin" id="footer-footer-margin">
        <div class="col-sm-4" id="footer-col-sm-4">
          <img class="img-responsive footer-img"
            src="assets/img/rev-footer.png" alt="revature"
            height="175" width="175" id="footer-responsive-img"/>
        </div>
        <div class="col-sm-3 col-sm-offset-5 contact-info" id="footer-contact-info">
          <span class="glyphicon glyphicon-home"></span> <span>&nbsp;11730
            Plaza America Drive<br>Reston, VA 20190</span>
            <br>
            <span class="glyphicon glyphicon-earphone"></span>
            <a href="tel:(703) 570-8282" id="footer-tel-link">&nbsp;(703) 570-8282</a>
            <br>
            <span class="glyphicon glyphicon-envelope"></span>
            <a href="mailto:info@revature.com" id="footer-email-link">&nbsp;info@revature.com</a>
            <br>
            <span class="glyphicon glyphicon-link"></span>
            <a id="revature-link" target="_blank"
            href="http://revature.com">&nbsp;revature.com</a>
            <br>
            <span class="copyright" id="footer-copyright"> <i class="far fa-copyright" aria-hidden="true"></i>2017 Revature </span>
        </div>
      </div>
    </div>
  </div>
</div>

