<div class="container">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12 top10">
				<!-- top ui dropdown for available years -->
				<ul class="nav nav-tabs">
					<li role="button" class="dropdown"><a 
id = "assessYearSelect" class="dropdown-toggle" data-toggle="dropdown"
							(click)="displayYears()"> {{selectedYear}} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li *ngFor="let year of years">
								<a role="button" (click)="selectYear(year)">{{year}}</a>
							</li>
						</ul>

						<!-- sort by quarter-->
					<li role="button" class="dropdown">
						<a id = "assessQuarterSelect" class="dropdown-toggle" data-toggle="dropdown" (click)="showQs()"> {{selectedQuarter}} <span
								class="caret"></span></a>
						<ul class="dropdown-menu">
							<li *ngFor="let quarter of quarters">
								<a role="button" (click)="selectQuarter(quarter)">{{quarter}}</a>
							</li>
						</ul>
						<!-- {{selectedBatch.trainer }} - {{ selectedBatch.startDate | date:'shortDate' }} -->
						<!-- top ui for viewing all assessments -->
					<li role="button" class="dropdown" *ngIf="showBatch">
						<a id = "assessSelectBatch" class="dropdown-toggle" data-toggle="dropdown" *ngIf="batchExists">
							{{ selectedBatch?.trainer }} - {{ selectedBatch?.startDate | date:'shortDate' }}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="text-center"><input type="text" placeholder="Search.." id="myInput"
									[(ngModel)]="searchText" name="searchText"></li>
							<li *ngFor="let batch of batches | filter : searchText">
								<a role="button" (click)="selectBatch(batch)"> {{batch?.trainer }} -
									{{ batch?.startDate | date: 'shortDate' }} </a>
							</li>
						</ul>

					<li role="button" class="pull-right" data-toggle="modal" data-target="#importGradesModal"><a>Import
							Grades <span class="glyphicon glyphicon-download" aria-hidden="true"> </span>
						</a></li>

					<!-- Button Trigger for Create Assessment Modal -->
					<!--   -->
					<li role="button" class="pull-right" data-toggle="modal" data-target="#createAssessmentModal">
						<a>Create
							Assessment<span class="glyphicon glyphicon-plus" aria-hidden="true"> </span>
						</a></li>
				</ul>
			</div>
			<!--Weeks tabs-->
			<div class="col-sm-12 col-md-12 col-lg-12 top5" *ngIf="selectedBatch">
				<ul class="nav nav-tabs">
					<li id = "Week:{{week}}" role="button" class="{{showActiveWeek(week)}}" (click)="selectWeek(week)"
						*ngFor="let week of weeks">
						<p *ngIf="checkLastWeek(week, weeks)"></p>
						<a>Week {{week}}</a>
					</li>
					<li role="button" data-toggle="modal" data-target="#confirmingweeks">
						<a>
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!--Data dismiss modal-->
<div *ngIf= "this.assessBatchService.requestPending" id="confirmingweeks" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button id = "addNewWeek" type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="text-center">
					<h4>Add a new week?</h4>
					<h4>This process cannot be undone.</h4>
				</div>
			</div>
			<div class="modal-footer">
				<button id = "assessAcceptWeek" type="button" class="btn btn-primary" (click)="addWeek()" data-dismiss="modal">Yes</button>
				<button id = "assessDeclineWeek" type="button" class="btn btn-default" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>
<app-batch-modal></app-batch-modal>
