<div style="display: flex; justify-content:flex-start">
    <div ngbDropdown class="btn">
        <button class='btn btn-primary' id='WeekSorter' ngbDropdownToggle>Include Weeks</button>
        <div ngbDropdownMenu aria-labelledby="WeekSorter">
          <app-dropdown-button *ngFor='let number of weeksList' [weekNumber]='number' (addWeek)="addPill($event)"></app-dropdown-button>
        </div>
      </div>
  <div >
    <app-pill *ngFor='let number of displayedWeeks' [weekNumber]='number' (removeWeek)="removePill($event)"></app-pill>
  </div>
  
</div>