<!DOCTYPE html>
<html>
<div class="modal fade in" id="addTraineeModal" tabindex="-1" role="dialog" aria-labelledby="traineeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="user-add-trainee-closemodal">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="traineeModalLabel">Add Trainees</h4>
      </div>
      <div class="modal-body">
        <!-- Add New Trainee -->
        <h3 id="addTraineeHeader">Add Trainee</h3>
        <form ngNativeValidate>
          <div>
            <div class="row">
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="traineeName">Full Name:</label> <input type="text" class="form-control" id="traineeName"
                  placeholder="Name" name="fullName" [(ngModel)]="fullName" required>
              </div>
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="traineeEmail">Email:</label> <input type="email" class="form-control" id="traineeEmail"
                  placeholder="Email" [(ngModel)]="email" name="email" required>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="traineeSkype">Skype Id:</label> <input type="text" class="form-control" id="traineeSkype"
                  placeholder="Skype Id" [(ngModel)]="skypeId" name="skypeId">
              </div>
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="traineePhone">Phone:</label> <input type="text" class="form-control" id="traineePhone"
                  placeholder="(xxx)-xxx-xxxx" [(ngModel)]="phoneNumber" name="phoneNumber">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="traineeCollege">College:</label> <input type="text" class="form-control" id="traineeCollege"
                  placeholder="College" [(ngModel)]="college" name="college">
              </div>
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="traineeDegree">Degree:</label> <input type="text" class="form-control" id="traineeDegree"
                  placeholder="Degree" [(ngModel)]="degree" name="degree">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="traineeMajor">Major:</label> <input type="text" class="form-control" id="traineeMajor"
                  placeholder="Major" [(ngModel)]="major" name="major">
              </div>
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="traineeRecruiterName">Recruiter Name:</label> <input type="text" class="form-control" id="traineeRecruiterName"
                  placeholder="Recruiter Name" [(ngModel)]="recruiterName" name="recruiterName">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="traineeTechScreenerName">Tech Screener Name:</label> <input type="text" class="form-control"
                  id="traineeTechScreenerName" placeholder="Tech Screener Name" [(ngModel)]="techScreenerName" name="techScreenerName">
              </div>
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="traineeProjectCompletion">Project Completion:</label> <input type="text" class="form-control"
                  id="traineeProjectCompletion" placeholder="0 %" [(ngModel)]="projectCompletion" name="projectCompletion">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-12 col-md-12 col-sm-12">
                <label for="traineeProfile">Profile URL:</label> <input type="text" class="form-control" id="traineeProfile"
                  placeholder="http://www.example.com/revature" [(ngModel)]="profileUrl" name="profileUrl">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-12 col-md-12 col-sm-12">
                <label for="traineeStatus">Training Status</label> <select class="form-control" id="traineeStatus"
                  required [(ngModel)]="trainingStatus" name="trainingStatus">
                  <option value="" disabled="">Select Status</option>
                  <option value="Signed" id="user-add-trainee-signed">Signed</option>
                  <option value="Selected" id="user-add-trainee-selected">Selected</option>
                  <option value="Training" id="user-add-trainee-training">Training</option>
                  <option value="Marketing" id="user-add-trainee-marketing">Marketing</option>
                  <option value="Confirmed" id="user-add-trainee-confirmed">Confirmed</option>
                  <option value="Employed" id="user-add-trainee-employed">Employed</option>
                  <option value="Dropped" id="user-add-trainee-dropped">Dropped</option>
                  <option value="Project" id="user-add-trainee-project">Project</option>
                  <option value="Staging" id="user-add-trainee-staging">Staging</option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button id="saveButton1" type="submit" value="Save" class="btn btn-primary" (click)="addTrainee()">Save</button>
            <button id="closeButton1" type="button" class="btn btn-default" (click)="resetAddTraineeForm()" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</html>
