<div class="modal-header">
  <div class="edit-batch-modal-header">
    <h4 *ngIf="!shouldCreate">Edit {{ batch?.trainer }}'s {{ batch?.trainingName }} Batch</h4>
    <h4 *ngIf="shouldCreate">Create Batch</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="modal-body">
  <form [formGroup]="batchForm" novalidate>
    <div class="form-row edit-batch-modal-row">
      <div class="form-group">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label for="trainingName"><strong>Training Name</strong></label>
          <input type="text" id="trainingName" formControlName="trainingName" class="form-control form-control-sm" placeholder="e.g., 1910 Performance Engineering">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label for="trainingType"><strong>Training Type</strong></label>
          <select name="trainingType" id="trainingType" formControlName="trainingType" class="form-control form-control-sm">
            <option [value]="null" [defaultSelected]="shouldCreate">Select Training Type</option>
            <option *ngFor="let type of trainingTypes; let i = index" [selected]="type === batch?.trainingType">{{ type }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-row edit-batch-modal-row">
      <div class="form-group">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label for="skillType"><strong>Skill Type</strong></label>
          <select id="skillType" formControlName="skillType" class="form-control form-control-sm">
            <option [value]="undefined" [defaultSelected]="shouldCreate">Select Skill Type</option>
            <option *ngFor="let type of skillTypes$ | async" [value]="type" [selected]="type === batch?.skillType && batch !== undefined">{{ type }}</option>
          </select>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label for="location"><strong>Location</strong></label>
          <select id="location" formControlName="locationId" class="form-control form-control-sm">
            <option [value]="-1" [defaultSelected]="shouldCreate">Select Location</option>
            <option *ngFor="let location of locations$ | async" [value]="location?.id" [selected]="batch?.locationId === location?.id">{{ formatLocation(location) }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-row edit-batch-modal-row" *ngIf="trainers$ | async as trainerList">
      <div class="form-group">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label for="trainer"><strong>Trainer</strong></label>
          <select id="trainer" formControlName="trainer" class="form-control form-control-sm">
            <option [value]="null" [defaultSelected]="shouldCreate">Select Trainer</option>
            <option *ngFor="let trainer of trainerList" [value]="trainer?.name" [selected]="trainer?.name === batch?.trainer">{{ trainer?.name }}</option>
          </select>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label for="coTrainer"><strong>Co Trainer</strong></label>
          <select id="coTrainer" formControlName="coTrainer" class="form-control form-control-sm">
            <option [value]="null" [defaultSelected]="shouldCreate">Select Co-Trainer</option>
            <option [value]="null">None</option>
            <option *ngFor="let trainer of trainerList | coTrainer: getSelectedLeadTrainer()" [value]="trainer?.name" [selected]="trainer?.name === batch?.coTrainer">{{ trainer?.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-row edit-batch-modal-row">
      <div class="form-group">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label for="startDate">Start Date</label>
          <input type="date" id="startDate" class="form-control" formControlName="startDate">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label for="endDate">End Date</label>
          <input type="date" id="endDate" class="form-control" formControlName="endDate" >
          <small *ngIf="shouldCreate && batchForm.get('endDate').pristine">(Automatically set 10 weeks from today)</small>
        </div>
      </div>
    </div>
    <div class="form-row edit-batch-modal-row">
      <div class="form-group">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label for="goodGrade"><strong>Good Grade</strong></label>
          <input type="number" id="goodGrade" formControlName="goodGrade" class="form-control form-control-sm" >
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label for="passingGrade"><strong>Passing Grade</strong></label>
          <input type="number" id="passingGrade" formControlName="passingGrade" class="form-control form-control-sm" >
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="pull-right">
    <button type="button" class="btn" (click)="bsModalRef.hide()">Cancel</button>
    <button *ngIf="!shouldCreate" type="button" class="btn btn-primary" [disabled]="batchForm.pristine || batchForm.invalid" (click)="handleBatchUpdate()">Update</button>
    <button *ngIf="shouldCreate" type="button" class="btn btn-primary" [disabled]="batchForm.pristine || batchForm.invalid" (click)="handleBatchCreate()">Create</button>
  </div>
</div>
