<!-- Modal -->
<div id="EditCategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Category Modal Header</h4>
        </div>
        <div class="modal-body">
        <!--Listing the available categories-->
        <div class="row">
          <div class="form-group col-lg-12 col-md-12 col-sm-12">
            <label for="category">Select Assessment Category</label> 
            <select name = 'selectedCategory' [(ngModel)] = 'selectedCategory'
              class="form-control" id="category"
              required  value = 'default'>
              <option value="default" disabled>Select Assessment Category</option>
              <option *ngFor ="let cat of categories" [ngValue] = cat.categoryId (click)="selected(cat)">{{cat.skillCategory}}</option>
            </select>
          </div>
        </div>
        <!--Displaying the fields for editing-->
        <div class="row">
          <div class="form-group col-lg-12 col-md-12 col-sm-12">
            <!--<input type="text" [ngValue] = "selectedCategory.skillCategory" name="skillCategory" value="selectedCategory.skillCategory"/>
            <input type="text" [ngValue] = "selectedCategory.categoryOwner" name="categoryOwner" value="selectedCategory.categoryOwner"/>
            --><button type="button" class="btn btn-default" (click)="save()">Save</button>
          </div>
        </div>
        <!--***********************************************************-->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>


  
