<div class="table-responsive" *ngIf="batches">
  <table class="table">
    <thead>
      <tr>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"><strong>Training Name</strong></th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"><strong>Training Type</strong></th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"><strong>Skill Type</strong></th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"><strong>Trainer</strong></th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"><strong>Co-Trainer</strong></th>
        <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"><strong>Location</strong></th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"><strong>Start Date</strong></th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"><strong>End Date</strong></th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"><strong>Good Grade</strong></th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"><strong>Passing Grade</strong></th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let batch of batches">
        <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">{{ batch?.trainingName }}</td>
        <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">{{ batch?.trainingType }}</td>
        <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">{{ batch?.skillType }}</td>
        <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">{{ batch?.trainer }}</td>
        <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">{{ batch?.coTrainer }}</td>
        <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">{{ batch?.location }}</td>
        <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">{{ batch?.startDate | date }}</td>
        <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">{{ batch?.endDate | date }}</td>
        <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">{{ batch?.goodGrade }}</td>
        <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">{{ batch?.passingGrade }}</td>
        <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
          <app-manage-batch-actions
            [batch]="batch"
          >
          </app-manage-batch-actions>
        </td>
      </tr>
    </tbody>
  </table>
</div>
