<div class="modal-header">
  <h4 id="associate-flag-dialog-header-text" class="modal-title">Comment for {{ trainee?.name }}</h4>
</div>
<div class="modal-body">
  <form [formGroup]="commentForm">
    <div class="form-row">
      <div class="form-row">
        <ul id="associate-flag-dialog-flag" class="flags form-group">
          <div *ngFor="let flag of flags">
            <app-flag (onFlagClick)="setFlag($event)" [type]="flag" [selected]="getFlag()"></app-flag>
          </div>
        </ul>
      </div>
      <div class="form-group col-md-12 col-sm-12">
        <label for="comment">Comment:</label>
        <textarea class="form-control" id="comment" rows="3" formControlName="comment" (blur)="completeComment()"></textarea>
        <div id="associate-flag-dialog-selected-flag" *ngIf="getFlag()">Selected: <app-flag [type]="getFlag()" [selected]="getFlag()" [tiny]="true"></app-flag></div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div *ngIf="!confirm" class="col-md-12 col-sm-12">
    <button type="button" id="associate-flag-dialog-delete-comment-button" class="btn btn-danger pull-left" *ngIf="commentForm.valid && (hasValues() || commentComplete)" (click)="haveUserConfirm()">Delete Comment</button>
    <button type="button" id="associate-flag-dialog-cancel-button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
    <button type="button" id="associate-flag-dialog-update-create-button" class="btn btn-primary" *ngIf="commentForm.valid && (hasValues() || commentComplete)" (click)="createComment()">{{ trainee?.flagStatus && trainee?.flagNotes ? 'Update' : 'Create' }} Comment for {{ trainee?.name }}</button>
  </div>
  <div *ngIf="confirm" class="col-md-12 col-sm-12">
    <button type="button" id="associate-flag-dialog-delete-confirm-button"class="btn btn-danger w-auto pull-left" *ngIf="commentForm.valid && (hasValues() || commentComplete)" (click)="deleteComment()">Are you sure you want to delete this comment for {{ trainee?.name }}?</button>
    <button type="button" id="associate-flag-dialog-delete-cancel-button"class="btn btn-primary pull-right" (click)="undoUserConfirmation()">Go Back</button>
  </div>
</div>
