.categories-this-week-container {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.add-categories-button {
  height: 200px;
  color: whitesmoke;
  background-color: #F26925;
  margin-left: 0.5%;
}

.categories-dropdown {
  height: 150px;
  width: max-content;
  overflow-y: scroll;
}

.category-chip {
  height: 150px;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

.remove-category {
  cursor: pointer;
}
