<div *ngIf="trainees.length > 0">
  <div class="table-responsive mt-1">
    <app-week-selector [batch]="batch" (selectedWeek)="setSelectedWeek($event)" (updatedBatch)="setUpdatedBatch($event)" [names]="names"></app-week-selector>
    <table class="table">
      <thead>
        <tr>
          <th class="col-sm-2 col-md-2 col-lg-2 col-xl-2">Trainee</th>
          <th *ngFor="let column of columns" class="col-sm-1 col-md-1 col-lg-1 col-xl-1">
            <app-assessment-details-column [column]="column" [categories]="categories" [week]="week" [batchId]="batch.batchId" [totalPoints]="getTotalPoints(assessments)"></app-assessment-details-column>
          </th>
          <th class="col-sm-6 col-md-6 col-lg-6 col-xl-6">Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trainee of trainees">
          <td class="col-sm-2 col-md-2 col-lg-2 col-xl-2"><app-associate-details [trainee]="trainee"></app-associate-details></td>
          <td *ngFor="let assessment of assessments" class="col-sm-1 col-md-1 col-lg-1 col-xl-1">
            <app-assessment-details-row
              [assessment]="assessment"
              [traineeId]="trainee?.traineeId"
              [grade]="getGradesForAssessmentAndTrainee(assessment?.assessmentId, trainee?.traineeId)"
              (onGradeUpdate)="handleGradeUpdate($event)"
            ></app-assessment-details-row>
          </td>
          <td class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <app-associate-notes
              *ngIf="notesLoaded"
              [trainee]="trainee"
              [week]="selectedWeek"
              [batchId]="batch.batchId"
              [note]="getNotesForTrainee(trainee.traineeId)"
              [qcNote]="undefined"
              [isQcNote]="false"
            >
            </app-associate-notes>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td><strong>Average:</strong></td>
          <td *ngFor="let assessment of assessments">{{ getAverageGradeForAssessment(assessment?.assessmentId) | percent: "1.2-2" }}</td>
          <td><strong>Weekly Batch Average: </strong>{{ getBatchAverage(assessments) | percent: "1.2-2" }}</td>
        </tr>
      </tfoot>
    </table>
    <app-batch-level-feedback [batchId]="batch.batchId" [week]="selectedWeek" [isQcFeedback]="false"></app-batch-level-feedback>
  </div>
</div>
