<div *ngIf="trainees.length > 0">
  <div class="table-responsive mt-1">
    <app-week-selector [batch]="batch" (selectedWeek)="setSelectedWeek($event)" (updatedBatch)="setUpdatedBatch($event)" ></app-week-selector>
    <table class="table">
      <thead>
        <tr>
          <th class="col-md-2">Trainee</th>
          <th *ngFor="let column of columns" class="col-md-1">
            <app-assessment-details-column [columnData]="column" [totalPoints]="totalPoints" ></app-assessment-details-column>
          </th>
          <th class="col-md-6">Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trainee of trainees">
          <td class="col-md-2"><app-associate-details [trainee]="trainee"></app-associate-details></td>
          <td *ngFor="let assessment of assessments" class="col-md-1">
            <app-assessment-details-row
              [grades]="getGradesForAssessmentAndTrainee(assessment?.assessmentId, trainee?.traineeId)"
              (onGradeUpdate)="handleGradeUpdate($event)"
            ></app-assessment-details-row>
          </td>
          <td class="col-md-6"><app-associate-notes *ngIf="notesLoaded" [trainee]="trainee" [week]="selectedWeek" [batchId]="batch.batchId" [note]="getNotesForTrainee(trainee.traineeId)"></app-associate-notes></td>
        </tr>
      </tbody>
      <tfoot *ngIf="assessments.length > 0">
        <tr>
          <td><strong>Average:</strong></td>
          <td *ngFor="let assessment of assessments">{{ getAverageGradeForAssessment(assessment?.assessmentId) | percent: "1.2-2" }}</td>
          <td><strong>Weekly Batch Average: </strong>{{ getBatchAverage() | percent: "1.2-2" }}</td>
        </tr>
      </tfoot>
    </table>
    <app-batch-level-feedback [batchId]="batch.batchId" [week]="selectedWeek"></app-batch-level-feedback>
  </div>
</div>
<!--<div *ngIf="trainees.length === 0">-->
<!--  No associates found-->
<!--</div>-->


<!--<div *ngIf="trainees.length > 0">-->
<!--  {{ trainees | json }}-->
<!--</div>-->

<!--<div *ngIf="assessments.length > 0">-->
<!--  {{ assessments | json }}-->
<!--</div>-->

<!--<div *ngIf="categories.length > 0">-->
<!--  {{ categories | json }}-->
<!--</div>-->
