<div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <ul class="nav nav-tabs">
          <li class="pull-right">
            <a 
              role="button" 
              data-toggle="modal" 
              data-target="#addLocationModal" 
              type="button"
              (click)="displayAddLocationModal()"
              id = "locationspage-component-displayaddlocationmodal"
              >Create Location 
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
          </li>
        </ul>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Active Status</th>
              <th>Company</th>
              <th>Address</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let location of locations' app-locationrow [location]='location' (locEmit)='displayLocationEditModal($event)' (disableEmit)='displayLocationDisableModal($event)' id="{{'locationspage-component-displayedlocation-' + location.name}}"></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-editlocationmodal #editLocationModal (putLocation)='updateTable($event)'></app-editlocationmodal>
<app-disable-location-modal #disableLocationModal (activationEmit)='updateTable($event)'></app-disable-location-modal>
<app-addlocationmodal #addLocationModal (addLocationEmit)='addToTable($event)'></app-addlocationmodal>