<!DOCTYPE html>
<html>
  <div class="modal fade in" id="updateTraineeModal" tabindex="-1" role="dialog" aria-labelledby="traineeModalLabel">
    <div class="modal-dialog modal-lg" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="traineeModalLabel">Add Trainee</h4>
        </div>
  
        <div class="modal-body">
          <!-- Add New Trainee -->
          <h3>Update Trainee</h3>
          <form ngNativeValidate>
          <div>
            <div class="row">
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="traineeName">Full Name:</label> <input type="text" class="form-control" id="traineeName"
                  placeholder= "Name"  name="fullName" [(ngModel)]="trainee ? trainee.name : name" required>
              </div>
  
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="traineeEmail">Email:</label> <input type="email" class="form-control" id="traineeEmail"
                  placeholder="Email" [(ngModel)]="trainee ? trainee.email : email" name="email" required>
                <!--<div ng-show="addTraineeForm.temail.$submitted || addTraineeForm.temail.$touched" class="ng-hide">
                  <span class="warning ng-hide" ng-show="addTraineeForm.temail.$error.email">Must enter
                    a valid email</span>
                </div>-->
              </div>
            </div>
  
            <div class="row">
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="traineeSkype">Skype Id:</label> <input type="text" class="form-control" id="traineeSkype"
                  placeholder="Skype Id" [(ngModel)]="trainee.skypeId" name="skypeId">
              </div>
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="traineePhone">Phone:</label> <input type="text" class="form-control" id="traineePhone"
                  placeholder="(xxx)-xxx-xxxx" [(ngModel)]="trainee.phoneNumber" name="phoneNumber">
              </div>
            </div>
  
            <div class="row">
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="traineeCollege">College:</label> <input type="text" class="form-control" id="traineeCollege"
                  placeholder="College" [(ngModel)]="trainee.college" name="college">
              </div>
  
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="traineeDegree">Degree:</label> <input type="text" class="form-control" id="traineeDegree"
                  placeholder="Degree" [(ngModel)]="trainee.degree " name="degree">
              </div>
            </div>
  
            <div class="row">
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="traineeMajor">Major:</label> <input type="text" class="form-control" id="traineeMajor"
                  placeholder="Major" [(ngModel)]="trainee.major" name="major">
              </div>
  
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="traineeRecruiterName">Recruiter Name:</label> <input type="text" class="form-control" id="traineeRecruiterName"
                  placeholder="Recruiter Name" [(ngModel)]="trainee.recruiterName" name="recruiterName">
              </div>
            </div>
  
            <div class="row">
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="traineeTechScreenerName">Tech Screener Name:</label> <input type="text" class="form-control"
                  id="traineeTechScreenerName" placeholder="Tech Screener Name" [(ngModel)]="trainee.techScreenerName" name="techScreenerName">
              </div>
  
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="traineeProjectCompletion">Project Completion:</label> <input type="text" class="form-control"
                  id="traineeProjectCompletion" placeholder="0 %" [(ngModel)]="trainee.projectCompletion" name="projectCompletion">
              </div>
            </div>
  
            <div class="row">
              <div class="form-group col-lg-12 col-md-12 col-sm-12">
                <label for="traineeProfile">Profile URL:</label> <input type="text" class="form-control" id="traineeName"
                  placeholder="http://www.example.com/revature" [(ngModel)]="trainee.profileUrl" name="profileUrl">
              </div>
            </div>
  
            <div class="row">
  
              <div class="form-group col-lg-12 col-md-12 col-sm-12">
                <label for="traineeStatus">Training Status</label> <select class="form-control" id="traineeStatus"
                  required [(ngModel)]="trainee.trainingStatus" name="trainingStatus">
                  <option value="" disabled="">Select Status</option>
                  <option value="Signed">Signed</option>
                  <option value="Selected">Selected</option>
                  <option value="Training">Training</option>
                  <option value="Marketing">Marketing</option>
                  <option value="Confirmed">Confirmed</option>
                  <option value="Employed">Employed</option>
                  <option value="Dropped">Dropped</option>
                  <option value="Project">Project</option>
                  <option value="Staging">Staging</option>
                </select>
              </div>
  
            </div>
          </div>
          <div class="modal-footer">
            <button id="saveButton1" type="submit" value="Save" class="btn btn-primary" (click)="updateTrainee()">Update</button>
            <button id="closeButton1" type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">Close</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
</html>
