<div class="trainee-actions">
  <div id="trainee-actions-switch-button">
    <span role="button" class="glyphicon glyphicon-refresh" tooltip="Switch Batch" (click)="switch()"></span>
  </div>
  <div id="trainee-actions-edit-button">
    <span role="button" class="glyphicon glyphicon-pencil" tooltip="Edit {{ trainee?.name }}" (click)="edit()"></span>
  </div>
  <div id="trainee-actions-remove-button">
    <span role="button" class="glyphicon glyphicon-remove" tooltip="Remove {{ trainee?.name }}" (click)="delete()"></span>
  </div>
</div>
