<!DOCTYPE html>
<html>
<div class="modal fade in" id="addTrainerModal" tabindex="-1" role="dialog" aria-labelledby="trainerModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeAddTrainerModal()" id="user-add-trainer-closemodal">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="trainerModalLabel">Add Trainer</h4>
      </div>
      <div class="modal-body">
        <!-- Add Trainer -->
        <h3 id="addTrainerHeader">Add Trainer</h3>
        <form ngNativeValidate>
            <div class="row">
                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                  <label for="trainerName">Full Name:</label> <input type="text" class="form-control" id="trainerName"
                    placeholder="Name" name="fullName" [(ngModel)]="newTrainer.name" required>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                  <label for="trainerEmail">Email:</label> <input type="email" class="form-control" id="trainerEmail"
                    placeholder="Email" [(ngModel)]="newTrainer.email" name="email" required>
                </div>
              </div>
              <div class="row">
                  <div class="form-group col-lg-12 col-md-12 col-sm-12">
                    <label for="title">Title:</label> <input type="text" class="form-control" id="title"
                      placeholder="Title" name="title" [(ngModel)]="newTrainer.title" required>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-lg-12 col-md-12 col-sm-12">
                      <label for="trainerTier">Trainer Tier</label> <select class="form-control" id="trainerTier"
                        required [(ngModel)]="newTrainer.tier" name="trainerTier">
                        <option value="" disabled="">Select Tier</option>
                        <option value="ROLE_VP" id="user-add-trainer-role-vp">ROLE_VP</option>
                        <option value="ROLE_PANEL" id="user-add-trainer-role-panel">ROLE_PANEL</option>
                        <option value="ROLE_QC" id="user-add-trainer-role-qc">ROLE_QC</option>
                        <option value="ROLE_TRAINER" id="user-add-trainer-role-trainer">ROLE_TRAINER</option>
                        <option value="ROLE_STAGING" id="user-add-trainer-role-staging">ROLE_STAGING</option>
                        <option value="ROLE_INACTIVE" id="user-add-trainer-role-inactive">ROLE_INACTIVE</option>
                      </select>
                    </div>
              </div>
          <div class="modal-footer">
            <span class = "fa-pull-left" style = " color: green;" *ngIf = "displaySuccess" [innerText] = "displaySuccessMsg"></span>
            <span class = "fa-pull-left" style = " color: red;" *ngIf = "displayFailure" [innerText] = "displayFailureMsg"></span>
            <button id="updateButton1" type="submit" value="Submit" class="btn btn-primary" (click)="addTrainer()">Submit</button>
            <button id="closeButton1" type="button" class="btn btn-default" data-dismiss="modal" (click)="closeAddTrainerModal()" >Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</html>