<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12 top10">
      <ul class="nav nav-tabs">


        <li role="button" class="pull-right" data-toggle="modal" data-target="#AddCategoryModal"><a>Add
            Assessment
            Category <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span>
          </a> </li>

          
          <app-add-assess-cat-modal> </app-add-assess-cat-modal>

        <li role="button" class="pull-right" data-toggle="modal" data-target="#EditCategoryModal"><a> Edit
            Assessment Category<span class="glyphicon glyphicon-plus" aria-hidden="true"> </span>
          </a></li>

          <app-edit-assess-cat-modal> </app-edit-assess-cat-modal>

       

      </ul>
      <div *ngFor="let category of categoriesList">
        <span>{{category.categoryId}} - {{category.skillCategory}} - <button (click)="disableCategory(category)">disable trainer</button></span>
      </div>
    </div>
  </div>
</div>