<!-- Modal -->
<div id="AddCategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Assessment Category </h4>
          
        </div>
        <div class="modal-body">
         Category Name: <input type="text" id="category.skillCategory" [(ngModel)]="category.skillCategory" >
        </div>
 
        
        <div class="modal-footer">
             <span  style="color: red; float:left" *ngIf="displayResultError">{{errorMessage}}</span>
            <span style="color: green; float:left" *ngIf="displayResultSuccess">{{successMessage}} </span>
          <button type="button" class="btn btn-success" (click)="addCategory()" id="add-assess-cat-modal-addcategory">Add Category</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clearModal()" (click)="updateComponent()" id="add-assess-cat-modal-closecategory">Close</button>
        </div>
      </div>

    </div>
  </div>
