<div class="toolbar-row">
  <div class="toolbar-row-item">
    <app-shared-dropdown-menu *ngIf="years"
      [data]="years"
      [dropdownFor]="'Year'"
      [selectedValue]="year"
      (onValueSelect)="selectYear($event)"
    ></app-shared-dropdown-menu>
    <app-shared-dropdown-menu  *ngIf="quarters"
      [data]="quarters"
      [format]="formatQuarters"
      [dropdownFor]="'Quarter'"
      [selectedValue]="quarter"
      (onValueSelect)="selectQuarter($event)"
    ></app-shared-dropdown-menu>
    <app-shared-dropdown-menu *ngIf="batches"
      [data]="batches"
      [dropdownFor]="'Batch'"
      [selectedValue]="batch"
      [format]="formatBatches"
      (onValueSelect)="selectBatch($event)"
    ></app-shared-dropdown-menu>
  </div>
  <div class="toolbar-row-buttons">
    <app-create-assessment-button [week]="week" [batchId]="batch?.batchId" (onAssessmentCreate)="handleAssessmentCreate($event)" class="left-button"></app-create-assessment-button>
    <app-import-grades-button class="right-button" [week]="week"></app-import-grades-button>
  </div>
</div>
