<div class="manage-batch-toolbar">
  <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 pull-left select-year-dropdown">
    <app-shared-dropdown-menu
      id="manage-batch-year-dropdown"
      [data]="years"
      [dropdownFor]="'manageBatchYear'"
      [selectedValue]="year"
      (onValueSelect)="selectYear($event)"
    ></app-shared-dropdown-menu>
  </div>
  <div class="manage-batch-toolbar-row-buttons">
    <app-create-batch-button (onBatchCreate)="handleCreatedBatch($event)" ></app-create-batch-button>
    <app-import-batch-button (onShowImportBatchDialog)="showBatchImportDialog()"></app-import-batch-button>
  </div>
</div>
