<hr>

<div  *ngIf="(note | json) !== '{}'">
  <div class="container">
    <div>
      <h4 class="text-center" style="color: #F26925"><strong>Overall Feedback</strong></h4>
     
      <table class="table table-responsive" style="border-collapse: collapse;">
        <thead>
          <tr class='overallHeaders'>
            <td style='width:24%; text-align: center'>
              <strong>Feedback</strong>
            </td>
  
            <td style='width:76%'>
              <strong>Comments</strong>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="dropdown" style="margin: 0 -25px;">
                <em *ngIf="note?.qcStatus=='Undefined'" class="qcStatusIcon fa fa-question-circle fa-3x pick"
                  style="margin: auto 10px; text-align: center;"></em>
                <em *ngIf="note?.qcStatus=='Good'" class="qcStatusIcon fa fa-smile-o fa-3x pick"
                  style="margin: auto 10px; text-align: center;"></em>
                <em *ngIf="note?.qcStatus=='Average'" class="qcStatusIcon fa fa-meh-o fa-3x pick"
                  style="margin: auto 10px; text-align: center;"></em>
                <em *ngIf="note?.qcStatus=='Poor'" class="qcStatusIcon fa fa-frown-o fa-3x pick"
                  style="margin: auto 10px; text-align: center;"></em>
  
                <div class="dropdown-content">
                  <a data-toggle="collapse" (click)="setScore('Good',note.noteId)"
                    class="qcStatusIcon fa fa-smile-o fa-3x pick no-padding" id="audit-components-overall-setscoregood"></a>
                  <a data-toggle="collapse" (click)="setScore('Average',note.noteId)"
                    class="qcStatusIcon fa fa-meh-o fa-3x pick no-padding" id="audit-components-overall-setscoreaverage"></a>
                  <a data-toggle="collapse" (click)="setScore('Poor', note.noteId)"
                    class="qcStatusIcon fa fa-frown-o fa-3x pick no-padding" id="audit-components-overall-setscorepoor"></a>
                </div>

              </div>
            </td>
            <td>
              <textarea style=" margin-left: 5px;" 
                (blur)="noteOnBlur(note.noteId, false)"
                (keypress)="clearAllSavingIcon(); isTyping = true"
                (keydown.backspace)="clearAllSavingIcon(); isTyping = true"
                [(ngModel)]="note.content" id="note-textarea-{{note.noteId}}" class="form-control"
                placeholder="Overall note" rows="6" cols="170" maxlength="4000">{{ note.content }}
              </textarea>
            </td>
  
            <!-- Status icons -->
            <div class="savingIconDiv" *ngIf="isSpinning">
              <i style="color: #F26925;" class="fa fa-spinner fa-spin fa-1x" aria-hidden="true"></i>
            </div>
            <div class="savingIconDiv" *ngIf="isCheck">
              <i class="fa fa-check fa-1x" aria-hidden="true"></i>
            </div>
            <div class="savingIconDiv" *ngIf="isError">
              <i class="fa fa-times fa-1x" aria-hidden="true" style="color:red;"></i>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>