
.overallHeaders{
	font-family: 'Futura-Std-Bold';
	font-size: 14px;
}

.dropdown {
	position: relative;
	text-align: center;
	display: inline-block;
	align-self: center;
	overflow: visible;
	z-index: 3;
	padding: auto;
	margin:auto;	
	width: auto;
}

td{
	text-align: center;
}

.dropdown-content {
	display: none;
	position: relative;
	left: 20px;
	margin: auto;
	background-color: #f1f1f1;
	box-shadow: 0px 8px 16px 6px rgba(0,0,0,0.2);
	align-self: center;
	border-radius: 40px;
	cursor: pointer;
}

.dropdown-content a 
{
	color: black;
	position: relative;
	padding: 5px 15px;
	text-decoration: none;
	display: inline-block;
	align-self: center;
	
}
.dropdown-content a:hover {background-color: lightgray; align-self: center; border-radius: 30px}

.dropdown:hover .dropdown-content {display: block; }

.dropdown:hover .dropbtn {background-color: #d39539;}

.savingIconDiv {
	position: absolute;
	margin-top: 7px;
	margin-left: -19px;
  }
