<div class="container">
  <app-batch-select-toolbar
    [week]="selectedWeek"
    [batch]="selectedBatch"
    [quarter]="selectedQuarter"
    [quarters]="quarters"
    [years]="years"
    [year]="selectedYear"
    [batches]="batches$ | async"
    (selectedBatch)="setSelectedBatch($event)"
    (selectedQuarter)="setSelectedQuarter($event)"
    (selectedYear)="setSelectedYear($event)"
  >
  </app-batch-select-toolbar>
  <div *ngIf="selectedBatch else brand">
    <app-week-selector
      [batch]="selectedBatch"
      (selectedWeek)="setSelectedWeek($event)"
    >
    </app-week-selector>
    <app-quality-audit-list
      [week]="selectedWeek"
      [batchId]="selectedBatch?.batchId"
    >
    </app-quality-audit-list>
  </div>
  <ng-template #brand>
    <div class="container" @fadeInOut>
      <div class="img-container">
        <img src="assets/brand/screen_viewing.svg" class="brand-icon">
      </div>
    </div>
  </ng-template>
</div>
