<div [formGroup]="traineeNotesForm">
  <div class="mx-auto">
    <div class="notes-container">
      <span class="note-spinner d-flex flex-row justify-content-end">
        <app-assessment-result-spinner
          [isSaving]="isSaving"
          [success]="success"
          [failure]="failure"
        ></app-assessment-result-spinner>
      </span>
      <textarea
        *ngIf="!isQcNote"
        formControlName="notes"
        class="form-control"
        maxlength="4000"
        rows="3"
        cols="50"
        (blur)="handleNote()"
        placeholder="Week {{ week }} notes for {{ trainee.name }}"
      >
      </textarea>
      <textarea
        *ngIf="isQcNote"
        formControlName="notes"
        class="form-control"
        maxlength="4000"
        rows="3"
        cols="50"
        (blur)="handleQcNote(qcNote)"
        placeholder="Week {{ week }} notes for {{ trainee.name }}"
      >
      </textarea>
    </div>
  </div>
</div>
