<div 
  id="associate-details-container" 
  class="associate-details-container" 
  (mouseleave)="hidePen()" 
  (mouseenter)="showPen(); shouldShowAssociateNote()"
>
  <div class="centered">
    <strong id="associate-details-trainee-name">{{ trainee?.name }}</strong>
    <span>
      <em 
        id="associate-details-container-pen"
        class="fas fa-pen flag-pen" 
        [style.display]="show ? 'inherit' : 'none'" 
        (click)="showAssociateFlagModal()"
      >
      </em>
    </span>
    <span 
      *ngIf="trainee?.flagStatus && trainee?.flagNotes" 
      (click)="showAssociateFlagModal()" 
      class="flag"
    >
        <app-flag
          id="associate-details-container-flag" 
          [tooltip]="associateNote()" 
          placement="bottom" 
          [tiny]="true" 
          [type]="trainee?.flagStatus" 
          [selected]="trainee?.flagStatus"
        >
        </app-flag>
    </span>
  </div>
</div>
