<div class="container">
    <!-- The max width is manually set to the same width as the original AngularJss webpage -->
    <table class="table table-responsive table-condensed" style="border-collapse: collapse; max-width: 1140px;">
        <thead>
            <tr>
                <!-- Top row will span over all columns -->
                <td colspan="5">
                    <strong>Categories covered this week: </strong>
                    <!-- Tracked last item in list to prevent last comma from being printed -->
                    <span *ngFor="let cat of categories; let isLast=last">
                        {{cat.name}}{{isLast ? '' : ', '}}
                    </span>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    <span>
                        <button class="btn btn-primary" (click)="toggleNotesArray()" id="toggleNoteSort">Sort
                            Randomly</button>
                    </span>
                </td>
            </tr>
            <tr>
                <!-- Spans over flag column --->
                <th colspan="2">
                    Trainee
                </th>
                <!-- Spans over extra space column --->
                <th colspan="2">
                    Individual Feedback
                </th>
                <th>
                    Notes
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- Every note contains an associate in the current batch -->
            <!-- Every column is given a percentage of the table for simplicity -->
            <tr *ngFor="let QcNote of notes">
                <td (click)="cycleFlagNotesInput(QcNote.noteId, true); cycleFlag(QcNote.noteId);" style="width: 11%;">
                    {{ QcNote.trainee.name }}
                </td>
                <td style="width: 3%; position:absolute;">
                    <!-- Only shows the current flag, none if no flag is assigned -->
                    <i *ngIf="QcNote.trainee.flagStatus==='RED'" class="glyphicon glyphicon-flag color-red"></i>
                    <i *ngIf="QcNote.trainee.flagStatus==='GREEN'" class="glyphicon glyphicon-flag color-green"></i>
                    <i *ngIf="QcNote.trainee.flagStatus==='NONE'" class="glyphicon glyphicon-flag"
                        style="visibility: hidden;"></i>
                    <!-- Shows the flag notes popup if the user clicks the name column -->
                    <div *ngIf="QcNote.noteFlagInputActive===true" class="flag-notes-popup">
                        <input class="form-control" type="text" placeholder=" comment" />
                        <button class="btn btn-info flage-notes-save-btn">Save</button>
                        <button (click)="cycleFlagNotesInput(QcNote.noteId, false)" type="button"
                            class="flage-notes-close-btn close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </td>
                <td>

                    <div class="dropdown">
                        <div>
                            <i *ngIf="note.qcStatus=='Undefined'" class="qcStatusIcon fa fa-question-circle fa-2x pick"
                                style="margin: auto 30px; text-align: center;"></i>
                            <i *ngIf="note.qcStatus=='Superstar'" class="qcStatusIcon fa fa-star fa-2x pick"
                                style="margin: auto 30px; text-align: center;"></i>
                            <i *ngIf="note.qcStatus=='Good'" class="qcStatusIcon fa fa-smile-o fa-2x pick"
                                style="margin: auto 30px;text-align: center;"></i>
                            <i *ngIf="note.qcStatus=='Average'" class="qcStatusIcon fa fa-meh-o fa-2x pick"
                                style="margin: auto 30px; text-align: center;"></i>
                            <i *ngIf="note.qcStatus=='Poor'" class="qcStatusIcon fa fa-frown-o fa-2x pick"
                                style="margin: auto 30px; text-align: center;"></i>
                        </div>
                        <div class="dropdown-content" style="margin: auto -50px">
                            <a data-toggle="collapse" (click)="change('Undefined',note.noteId); "
                                class="qcStatusIcon fa fa-question-circle pick no-padding"></a>
                            <a data-toggle="collapse" (click)="change('Superstar',note.noteId); "
                                class="qcStatusIcon fa fa-star  pick no-padding"></a>
                            <a data-toggle="collapse" (click)="change('Good',note.noteId); "
                                class="qcStatusIcon fa fa-smile-o  pick no-padding"></a>
                            <a data-toggle="collapse" (click)="change('Average',note.noteId); "
                                class="qcStatusIcon fa fa-meh-o  pick no-padding"></a>
                            <a data-toggle="collapse" (click)="change('Poor',note.noteId); "
                                class="qcStatusIcon fa fa-frown-o  pick no-padding"></a>
                        </div>
                    </div>
                </td>

                <!-- This is a small gap to add space in between columns -->
                <td style="width: 3%;"></td>
                <td style="width: 76%;">
                    <textarea (blur)="noteOnBlur(QcNote.noteId, false)" id="note-textarea-{{QcNote.noteId}}"
                        class="form-control" placeholder="Note on {{ QcNote.trainee.name }}" rows="3" cols="75"
                        maxlength="4000">{{ QcNote.content }}</textarea>
                </td>
            </tr>
        </tbody>
    </table>