<div class="container">
    <div style="overflow-y: auto;" class="categoriesContainer">
        <p style="float: left; margin-top: 7px"><strong>Categories covered this week: </strong></p>

        <span *ngFor="let tag of categoryTags | keyvalue" class="label label-default" style="cursor: default;">
            {{ tag.value.skillCategory }}
            <span class="closeChip" (click)="removeCategoryTag($event)">&times;</span>
        </span>

        <span class="label label-default btn dropdown-toggle"
            style="padding: 4px; background-color: #F26925; float: left;" data-toggle="dropdown">
            <em class="fa fa-plus"></em>
            <ul class="dropdown-menu" style="overflow-y: scroll; height: 200px;">
                <li *ngFor="let category of activeCategoryTags | keyvalue" (click)="addCategoryTag(category.value)">
                    <a>{{ category.value.skillCategory }}</a>
                </li>
            </ul>
        </span>

    </div>
    
        
    <table class="table table-responsive table-condensed" style="border-collapse: collapse; max-width: 1140px;">
        <thead>
            
        </thead>
        <thead>
            <tr>
                
            </tr>

            <tr>
                    <button class="btn btn-primary" (click)="toggleNotesArray()" id="toggleNoteSort">Sort
                            {{order}}</button>
                        
            </tr>
            <tr>
                <!-- Spans over flag column --->
                <th colspan="2">
                    Trainee
                </th>
                <!-- Spans over extra space column --->
                <th colspan="2">
                    Individual Feedback
                </th>
                <th>
                    Notes
                </th>
            </tr>
        </thead>
        <tbody>

            <tr  *ngFor="let QcNote of notes; let i = index" class="NoteRow">
                <td *ngIf="QcNote.trainee != null" style="width: 11%;">
                    <div *ngIf="QcNote.trainee != null" class="dropup">
                        <div *ngIf="QcNote.trainee?.flagStatus == 'RED'" class="flag-note-area-red dropbtn"></div>
                        <div *ngIf="QcNote.trainee?.flagStatus == 'GREEN'" class="flag-note-area-green dropbtn"></div>
                        <div *ngIf="QcNote.trainee?.flagStatus == 'NONE' || QcNote.trainee.flagStatus == null"
                            class="flag-note-area-empty dropbtn"></div>
                        &nbsp; {{ QcNote.trainee.name }}
                        <br>
                        <em (click)="onAddFlagClicked(QcNote.trainee, i); isaddFlagClicked= true"
                            class="fas fa-pen options" style="margin: 10px 5px; color:#00000080; cursor: pointer;"
                            data-toggle="modal" data-target="#flagTrainee"></em>

                        <div *ngIf="((QcNote.trainee.flagNotes != '') && (QcNote.trainee.flagStatus === 'RED' || QcNote.trainee.flagStatus === 'GREEN'))"
                            class="dropup-content">
                            <li *ngIf="QcNote.trainee != null ">{{QcNote.trainee.flagNotes}}</li>
                        </div>
                    </div>
                    <!-- MODEL FOR FLAGGING STARTS -->
                    <div *ngIf="isaddFlagClicked" id="flagTrainee" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <label for="flagsStatus">Select a Flag:</label>
                                    <div>
                                        <ul class="nav nav-tabs">
                                            <li><em title="Green Flag" role="button" id="greenFlag"
                                                    class="fas fa-flag fa-3x fa-green objectButton"
                                                    (click)="onFlagSelected('GREEN');"></em>
                                            </li>
                                            <li><em title="Red Flag" role="button" id="redFlag"
                                                    class="fas fa-flag fa-3x fa-red objectButton"
                                                    (click)="onFlagSelected('RED');"></em>
                                            </li>
                                            <br>
                                            <br>
                                            <br>
                                        </ul>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">Comment:</label>
                                        <textarea class="form-control" rows="3" id="comment"
                                            [(ngModel)]="selectedTrainee.flagNotes">{{ selectedTrainee.flagNotes }}</textarea>
                                        <div style="margin-top: 10px;">Selected flag:
                                            <em *ngIf="(flagStatusVisual) != null"
                                                class="fas fa-flag fa-1x {{flagStatusVisual}}"></em>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button style="float: left;" class="btn btn-primary" data-dismiss="modal"
                                        *ngIf="selectedTrainee.flagStatus != null && selectedTrainee.flagStatus != 'NONE'"
                                        (click)="onFlagDelete()">Delete</button>
                                    <button class="btn btn-primary" data-dismiss="modal"
                                        *ngIf="selectedTrainee.flagStatus != null && selectedTrainee.flagStatus != 'NONE'"
                                        (click)="onFlagSubmit()">Submit</button>
                                    <button class="btn btn-primary" data-dismiss="modal"
                                        (click)="onFlagCancel();">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODEL FOR FLAGGING ENDS -->
                </td>
                <td style="width: 3%; position:absolute;">
                    <!--Buffer area-->
                </td>
                <td *ngIf="QcNote.trainee != null">
                    <div>
                        <div class="dropdown">

                            <em *ngIf="QcNote.qcStatus=='Undefined'"
                                class="qcStatusIcon fa fa-question-circle fa-2x pick"
                                style="margin: auto 30px; text-align: center;"></em>
                            <em *ngIf="QcNote.qcStatus=='Superstar'" class="qcStatusIcon fa fa-star fa-2x pick"
                                style="margin: auto 30px; text-align: center;"></em>
                            <em *ngIf="QcNote.qcStatus=='Good'" class="qcStatusIcon fa fa-smile-o fa-2x pick"
                                style="margin: auto 30px;text-align: center;"></em>
                            <em *ngIf="QcNote.qcStatus=='Average'" class="qcStatusIcon fa fa-meh-o fa-2x pick"
                                style="margin: auto 30px; text-align: center;"></em>
                            <em *ngIf="QcNote.qcStatus=='Poor'" class="qcStatusIcon fa fa-frown-o fa-2x pick"
                                style="margin: auto 30px; text-align: center;"></em>

                            <div class="dropdown-content" style="margin: auto -95px">
                                <a data-toggle="collapse" (click)="setScore('Undefined',QcNote.noteId);"
                                    class="qcStatusIcon fa fa-question-circle fa-2x pick no-padding"></a>
                                <a data-toggle="collapse" (click)="setScore('Superstar',QcNote.noteId);"
                                    class="qcStatusIcon fa fa-star fa-2x pick no-padding"></a>
                                <a data-toggle="collapse" (click)="setScore('Good',QcNote.noteId);"
                                    class="qcStatusIcon fa fa-smile-o fa-2x pick no-padding"></a>
                                <a data-toggle="collapse" (click)="setScore('Average',QcNote.noteId); "
                                    class="qcStatusIcon fa fa-meh-o fa-2x pick no-padding"></a>
                                <a data-toggle="collapse" (click)="setScore('Poor', QcNote.noteId); "
                                    class="qcStatusIcon fa fa-frown-o fa-2x pick no-padding"></a>
                            </div>

                        </div>
                    </div>
                </td>
                <!-- This is a small gap to add space in between columns -->
                <td style="width: 3%;"></td>
                <td *ngIf="QcNote.trainee != null" style="width: 76%;">
                    <textarea (blur)="noteOnBlur(QcNote.noteId, false, i)"
                        (keypress)="clearAllSavingIcon(i); isTyping = true"
                        (keydown.backspace)="clearAllSavingIcon(i); isTyping = true" [(ngModel)]="QcNote.content"
                        class="form-control" placeholder="Note on {{ QcNote.trainee.name }}" rows="3" cols="75"
                        maxlength="4000">{{ QcNote.content }}
                    </textarea>
                </td>
                <!-- Status icons -->
                <div class="savingIconDiv" [attr.id]="'spinner' + i" style="display: none;">
                    <em style="color: #F26925;" class="fa fa-spinner fa-spin fa-1x" aria-hidden="true"></em>
                </div>
                <div class="savingIconDiv" style="display: none;" [attr.id]="'checkMark' + i">
                    <em class="fa fa-check fa-1x" aria-hidden="true"></em>
                </div>
                <div class="savingIconDiv" style="display: none;" [attr.id]="'errMark' + i">
                    <em class="fa fa-times fa-1x" aria-hidden="true" style="color:red;"></em>
                </div>
            </tr>
        </tbody>
    </table>
</div>