<div id="caliber-container" class="container">
    <div class="top10 data-container">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">Last Quality Audit
            <app-home-toolbar (submitHomeOutput)="updateHomeOutput($event)"></app-home-toolbar>
          </div>
          <div class="panel-body">
            <app-last-quality-audit-graph></app-last-quality-audit-graph>
            <app-last-quality-audit-table></app-last-quality-audit-table>
            <app-missing-grades-list></app-missing-grades-list>
          </div>
        </div>
    </div>
  </div>
</div>
