
.trainee-name:hover {
	cursor: pointer;
	text-decoration: none;
}

.flag-notes-popup {
    position: relative;
    display: inline-block;
    background-color: white;
    width: 270px;
    height: 47px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    padding-top: 5px;
    padding-left: 5px;
    z-index: 1000;
    left: 2px;
    bottom: 2px;
    margin-left: 1px;
}

.flag-notes-popup input {
    display: inline-block;
    width: 175px;
    height: 35px;
}

.flage-notes-save-btn {
    margin-left: 8px;
}

.valid-feedback .closing-button{
    margin: 0%;
}