<div class = "container">
    <!-- The max width is manually set to the same width as the original AngularJss webpage -->
    <div class="container" id="trainer-assess-table">
        <div class="row">
            <div class="col-md-12 col-lg-12 top5">
                <p class="bg-primary align center"></p>
                <ul class="nav nav-tabs">
                    <p class="bg-primary align center"></p>
                    <ul class="nav nav-tabs">
                        <!-- Accordian table -->
                        <table class="table table-responsive"
                            style="border-collapse: collapse;">
                            <thead>
                                <tr sticky class='sticky-header'>
                                    <th class="col-sm-2 col-md-2 col-lg-2">Trainee</th>
                                    <th class="col-sm-1 col-md-1 col-lg-2"></th>
                                    <div>
                                        <th class="col-sm-1 col-md-1 col-lg-1 text-center"
                                            role="button" data-toggle="modal">
                                            <div ui-view="trainer-edit-assess"></div>
                                        </th>
                                        <th class="col-sm-9 col-md-9 col-lg-9">Notes</th>
                                    </div>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let train of traineeArr">
                                    <td><a style="cursor: pointer; color: black; text-decoration: none">{{train.name}}</a></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <td>Average</td>
                                <td></td>
                                <td class="text-center"></td>
    
                                <td><span style="font-weight: bold"></span>
                                    <span></span><i
                                     class='fa fa-cog fa-spin'></i>
                                </td>
                                <td></td>
                            </tfoot>
                        </table>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>
