<ul class="nav nav-tabs">
  <li class="dropdown">
    <a *ngIf="!data?.length" class="dropdown-toggle">No {{ for }}{{ for === 'Batch' ? 'e' : '' }}s Found</a>
    <a *ngIf="data?.length" class="dropdown-toggle" data-toggle="dropdown">{{ currentDropdownValue }} <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li *ngFor="let entry of formattedData; let i = index">
        <a role="button" (click)="setDropdownValue(entry, i)" >{{ entry }}</a>
      </li>
    </ul>
  </li>
</ul>
