<div id="caliber-container" class="container ng-scope">
  <div class="col-md-12">
      <div class="panel panel-default">
          <div class="panel-heading">
              Missing Grades Report
          </div>
      </div>

      <div>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th class="col-sm-2">Trainer</th>
              <th class="col-sm-2">Batch</th>
              <th class="col-sm-2">Missing Week</th>
              <th class="col-sm-2">Location</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngfor="let missingGrade of missingGrades"> -->
              <!-- <td>{{missingGrade.trainer}}</td>
              <td>{{missingGrade.batch}}</td>
              <td>{{missingGrade.missingWeeks}}</td>
              <td>{{missingGrade.Location}}</td> -->
            <!-- </tr> -->
          </tbody>
        </table>
      </div>
    
  </div>
</div>

