<div id="caliber-container" class="container ng-scope">
  <div class="top10 data-container">
    <div class="panel panel-default">
      <div class="panel-heading">
        Missing Grades Report
      </div>
    </div>

    <div *ngIf="flag">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th class="col-sm-2">Trainer</th>
            <th class="col-sm-2">Skill Type</th>
            <th class="col-sm-2">Missing Week</th>
            <th class="col-sm-2">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let missingGrade of missingGrades">
            <td class="col-sm-2">{{missingGrade.trainer}}</td>
            <!-- <td class="col-sm-2">{{missingGrade.skillType}}</td> -->
            <td class="col-sm-2"><span *ngFor="let week of missingGrade.weeks">{{week}}</span></td>
            <td class="col-sm-2">{{missingGrade.location}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>