<div class="container" *ngIf="getWeek() | async as week">
  <ng-container *ngIf="categories$ | async as categories">
    <app-categories-this-week
      [categories]="categories"
      [week]="week"
      [batchId]="batchId"
    >
    </app-categories-this-week>
  </ng-container>
  <div class="table-responsive" *ngIf="trainees$ | async as trainees" @fadeInOut>
    <table class="table">
      <thead>
      <tr>
        <th class="col-md-1 col-sm-1 col-lg-1 col-xl-1"><strong>Trainee</strong></th>
        <th class="col-md-2 col-sm-2 col-lg-2 col-xl-2 text-center"><strong>Technical Skills</strong></th>
        <th class="col-md-2 col-sm-2 col-lg-2 col-xl-2 text-center"><strong>Soft Skills</strong></th>
        <th class="col-md-7 col-sm-7 col-lg-7 col-xl-7"><strong>Notes</strong></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let trainee of trainees" class="quality-audit-list-row">
        <td class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <app-associate-details
            [trainee]="trainee"
          >
          </app-associate-details>
        </td>
        <td class="col-md-1 col-sm-1 col-lg-1 col-xl-1">
          <app-qc-feedback
            [column]="'technical'"
            [qcNote]="getQcTraineeNote(trainee?.traineeId)"
            (onQcStatusSelect)="handleQcStatusChange($event)"
          >
          </app-qc-feedback>
        </td>
        <td class="col-md-1 col-sm-1 col-lg-1 col-xl-1">
          <app-qc-feedback
            [column]="'soft'"
            [qcNote]="getQcTraineeNote(trainee?.traineeId)"
            (onQcStatusSelect)="handleQcStatusChange($event)"
          >
          </app-qc-feedback>
        </td>
        <td class="col-md-8 col-sm-8 col-lg-8 col-xl-8">
          <app-associate-notes
            [trainee]="trainee"
            [week]="week"
            [batchId]="batchId"
            [note]="undefined"
            [qcNote]="getQcTraineeNote(trainee?.traineeId)"
            [isQcNote]="true"
            (onQcNoteUpdate)="handleQcStatusChange($event)"
          >
          </app-associate-notes>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="container-fluid">
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 ">
        <div>
          <h4 class="text-center"><strong class="note-header">Overall QC Status</strong></h4>
          <app-qc-feedback [column]="'technical'" [isOverallFeedback]="true" [qcNote]="getQcBatchNote()" (onQcStatusSelect)="handleQcBatchNoteChange($event)"></app-qc-feedback>
        </div>
      </div>
      <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
        <app-batch-level-feedback [batchId]="batchId" [week]="week" [isQcFeedback]="true" [lastQcStatus]="lastQcStatus" [lastBatchNoteChange]="lastBatchNoteChange" (onBatchNoteChange)="handleQcBatchNoteChange($event)" ></app-batch-level-feedback>
      </div>
    </div>
  </div>
</div>
