<!--********************************************* Create Batch Modal ************************************-->

<div class="modal fade" id="createBatchModal" tabindex="-1" role="dialog" aria-labelledby="batchModalLabel">
  <div class="modal-dialog" role="document">
    <form id="formId" ngNativeValidate (submit)="checkDates()" data-toggle="modal" data-target="#dateError">
      <div class="modal-content">
        <div class="modal-header">
          <button id = "batch-modal-closecreatebatchmodal" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 *ngIf="createOrUpdate === null" class="modal-title" id="batchModalLabel">Create New Batch</h4>
          <h4 *ngIf="createOrUpdate != null" class="modal-title" id="batchModalLabel">Update Batch</h4>
        </div>
        <!-- Add Batch Info -->
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-md-6 col-sm-6">
              <label for="trainingName">Training Name:</label>
              <input [(ngModel)]="trainingName" required [ngModelOptions]="{standalone: true}" type="text" class="form-control"
                id="trainingName" placeholder="1611 Jul11 Java" name="trainingName">
            </div>
            <div class="form-group col-md-6 col-sm-6">
              <label for="trainingType">Training Type:</label>
              <select *ngIf="createOrUpdate" [(ngModel)]="trainingType" [ngModelOptions]="{standalone: true}" class="form-control" id="trainingType" required name="trainingType">
                <option id="defaultTrainingType" value="null" disabled>Select
                  Training Type</option>
                <option *ngFor="let option of trainingTypes" [selected]="option === createOrUpdate.trainingType" [ngValue]="option" id="{{'batch-modal-optiontrainingtype-'+option}}">{{option}}</option>
              </select>
              <select *ngIf="!createOrUpdate" #trainingType (change)="setTrainingType(trainingType.value)" class="form-control" id="trainingType" required name="trainingType">
                  <option id="defaultTrainingType" selected="selected" value="" disabled>Select
                    Training Type</option>
                  <option *ngFor="let option of trainingTypes" [ngValue]="option" id="{{'batch-modal-optiontrainingtype-'+option}}">{{option}}</option>
                </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 col-sm-6">
              <label for="skillType">Skill Type:</label>
              <select *ngIf="!createOrUpdate" #skillType (change)="setSkillType(skillType.value)" name="skillType" class="form-control" id="skillType"
                required>
                <option selected="selected" value="" disabled>Select Skill Type</option>
                <option *ngFor="let option of skillTypes" [ngValue]="option" id="{{batch-modal-optionskilltype-'+option}}">{{option}}</option>
              </select>
              <select *ngIf="createOrUpdate" [(ngModel)]="skillType" [ngModelOptions]="{standalone: true}" name="skillType" class="form-control" id="skillType"
                required>
                <option value="" disabled>Select Skill Type</option>
                <option *ngFor="let option of skillTypes" [ngValue]="option" [selected]="createOrUpdate && option === createOrUpdate.skillType" id="{{'batch-modal-optionskilltype-'+ option}}">{{option}}</option>
              </select>
            </div>
            <!-- Dropdown for location -->
            <div class="form-group col-md-6 col-sm-6">
              <label for="commonLocations">Location :</label>
              <!-- TO DO: implement filter group by option.state for option in (location.options | orderBy:['state','company']  | filter : {active:true})  track by option.addressId" -->
              <select *ngIf="!createOrUpdate" #location (change)="setLocation(location.value)" id="location" required class="form-control"
                required name="location">
                <option value="" selected="selected" disabled>Select Location</option>
                <option *ngFor="let option of locationOptions" value="{{option.id}}" id="{{'batch-modal-optionlocation-'+option.id}}">
                  {{ option.name }}, {{ option.address }}, {{ option.city }} {{ option.state }} {{ option.zipcode }}</option>
              </select>
              <select *ngIf="createOrUpdate" [(ngModel)]="locationId" [ngModelOptions]="{standalone: true}"  id="location" required class="form-control"
                required name="location">
                <option value="" disabled>Select Location</option>
                <option *ngFor="let option of locationOptions" [selected]="option.id===createOrUpdate.locationId" [ngValue]="option.id" id="{{'batch-modal-optionlocation-'+option.id}}">
                  {{ option.name }}, {{ option.address }}, {{ option.city }} {{ option.state }} {{ option.zipcode }}</option>
              </select>
            </div>
            <!-- Dropdown ends -->

          </div>
          <div class="row">
            <div class="form-group col-md-6 col-sm-6">
              <label for="trainer">Trainer:</label>
              <select *ngIf="!createOrUpdate" #trainer (change)="setTrainer(trainer.value)" class="form-control" id="trainer" required name="trainer">
                <option value="" selected="selected" disabled>Select Trainer</option>
                <option *ngFor="let option of trainers" [ngValue]="option.name" id="{{'batch-modal-optiontrainers-'+option.id}}">{{option.name}}</option>
              </select>
              <select *ngIf="createOrUpdate" [(ngModel)]="trainer" [ngModelOptions]="{standalone: true}" class="form-control" id="trainer" required name="trainer">
                  <option value=""  disabled>Select Trainer</option>
                  <option *ngFor="let option of trainers" [ngValue]="option.name" [selected]="option.name === createOrUpdate.trainer" id="{{'batch-modal-optiontrainers-'+option.id}}">{{option.name}}</option>
                </select>
            </div>
            <div class="form-group col-md-6 col-sm-6">
              <label for="co-trainer">Co-Trainer:</label>
              <select [(ngModel)]="coTrainer" [ngModelOptions]="{standalone: true}" class="form-control" id="co-trainer"
                name="coTrainer">
                <option [ngValue]="null" disabled>Select Co-Trainer</option>
                <option [ngValue]="'none'">None</option>
                <option *ngFor="let option of trainers" [ngValue]="option.name" id="{{'batch-modal-optiontrainers-'+option.id}}">{{option.name}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 col-sm-6">
              <label for="start-date">Start Date:</label>
              <div class="input-group" id="start-date" data-datepicker="true">
                <input type="date" id="startDate" class="date-input form-control date-selector" name="s" min="0"
                  [ngModelOptions]="{standalone: true}" [ngModel]="startDate | date:'yyyy-MM-dd'" (ngModelChange)="startDate = $event"
                  required>
                <span class="input-group-addon glyphicon glyphicon-calendar"></span>
              </div>
            </div>
            <div class="form-group col-md-6 col-sm-6" format="YYYY-MM-DD">
              <label for="end-date">End Date:</label>
              <div class="input-group" id="end-date" data-datepicker="true">
                <input type="date" id="endDate" class="date-input form-control date-selector" name="s" min="0"
                  [ngModelOptions]="{standalone: true}" [ngModel]="endDate | date:'yyyy-MM-dd'" (ngModelChange)="endDate = $event"
                  required>
                <span class="input-group-addon glyphicon glyphicon-calendar"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 col-sm-6">
              <label for="goodGrade">Good Grade: <span title="The minimum acceptable grade." alt="The minimum acceptable grade."
                  class="glyphicon glyphicon-question-sign"></span></label>
              <input [(ngModel)]="goodGradeThreshold" [ngModelOptions]="{standalone: true}" (input)="setMinGrade()"
                type="number" min="0" step="1" class="form-control" name="goodGradeThreshold" id="goodGrade"
                placeholder="80" required>
            </div>
            <div class="form-group col-md-6 col-sm-6">
              <label for="borderlineGrade">Passing Grade: <span title="The minimum grade required to pass. Falling below this grade will likely result in disciplinary action."
                  alt="The minimum grade required to pass. Falling below this grade will likely result in disciplinary action."
                  class="glyphicon glyphicon-question-sign"></span></label>
              <input [(ngModel)]="borderlineGradeThreshold" [ngModelOptions]="{standalone: true}" (change)="lowerMinGrade()"
                (input)="lowerMinGrade" type="number" min="0" step="1" class="form-control" id="borderlineGrade"
                placeholder="50" required name="passingGrade" max="goodGradeThreshold">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input *ngIf="createOrUpdate === null" id = "batch-modal-savebutton" value="Save" type="submit" class="btn btn-primary" />
          <input type="button" *ngIf="createOrUpdate != null" id="updateBtn" value="Update" (click)="checkDates2()" class="btn btn-primary"/>
          <button type="button" id="closeBtn" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!------------------------------------------------- Error Modal for Date -------------------------------------->
<div #dateError class="modal fade" id="checkBatchModalDate" tabindex="-1" role="dialog" aria-labelledby="batchModalLabel">
    <div id="overlay" class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="batchModalLabel">
            Invalid Batch Info&nbsp;<i class="fa fa-frown-o fa-2x pick " style="font-weight:100" aria-hidden="true" ></i>
          </h4>
          <button type="button" class="close" data-dismiss="modal" id = "batch-modal-closeerrormodal" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

      </div>
      <div class="modal-body">

        <p *ngIf="dateIsError">
          The Start Date should be before the End Date.
        </p>
        <p *ngIf="trainerIsError">
          Trainer and Co-trainer cannot be the same.
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="batch-modal-okbutton" (click)="closeModal()">Ok</button>
      </div>
    </div>
  </div>
</div>
