<div class="modal fade editAssessModal" id="editAssessmentModal_" tabindex="-1"
	role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button (click) = 'getAssessmentById()'> CLICK ME</button>
				<button (click) = 'getCategory()'>Now Click me</button>
				<button type="button" class="close" ng-click="closeModal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Edit Assessment {{currentCategory.skillCategory}}</h4>
			</div>
			<!-- Add Assessment Info -->
				<div class="modal-body">
					<div class="row">
						<div class="form-group col-lg-12 col-md-12 col-sm-12" style="text-align: left">
							<label for="category">Assessment Category:</label> 
							<select name = 'selectedCategory' [(ngModel)] = 'selectedCategory' class="form-control" id="category" 
								required [value] = 'default'> 
							<option value='default' disabled>Select Assessment Category</option>
							<option *ngFor = "let cat of categories" [ngValue] = cat.categoryId>{{cat.skillCategory}}</option>
							</select>
						</div>
						<div class="form-group col-md-6 col-sm-6" style="text-align: left">
							<label>Max Points:</label>
							<input style="text-align: left" type="number" class="form-control" ng-value="assessment.rawScore" ng-model="updateAssessmentModel.rawScore"/>
						</div>
							<div class="form-group col-md-6 col-sm-6" style="text-align: left">
							<label for="assessmentType">Assessment Type:</label> <select
								ng-model="updateAssessmentModel.type" class="form-control"
								id="assessmentType" required>
								<option value="" disabled>{{assessment.type}}</option>
								<option ng-repeat="option in assessmentType.options">{{option}}</option>
							</select>
						</div>						
					</div>
				</div>
				<!-- Edit/Delete Modal -->
				<div class="modal-header">
					<div style="float: left">
						<button ng-click="deleteAssessment(assessment,$event,'EditAssessmentModal_'+assessment.assessmentId, $index)" type="button" class="btn btn-danger"
						aria-label="Delete">Delete</button>
					</div>
					<div style="text-align: right">
						<input type="button" value="Update" class="btn btn-primary" ng-click="updateAssessment(assessment,$event,'EditAssessmentModal_'+assessment.assessmentId, $index)">
						<button ng-click="closeModal('EditAssessmentModal_'+assessment.assessmentId)" type="button" class="btn"
						aria-label="Close">Close</button>
					</div>
				</div>
		</div>
	</div>
</div>