<div class="modal fade editAssessModal" id="editAssessmentModal_" tabindex="-1"
	role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeModal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Edit Assessment {{currentCategory.skillCategory}} {{currentAssessment.assessmentType}}</h4>
			</div>
			<!-- Add Assessment Info -->
				<div class="modal-body">
					<div class="row">
						<div class="form-group col-lg-12 col-md-12 col-sm-12" style="text-align: left">
							<label for="category">Assessment Category:</label> 
							<select name = 'selectedCategory' [(ngModel)] = 'selectedCategory' class="form-control" id="category" 
								required [value] = 'default'> 
							<option value='default' disabled>{{currentCategory.skillCategory}}</option>
							<option *ngFor = "let cat of categories" [ngValue] = cat.categoryId>{{cat.skillCategory}}</option>
							</select>
						</div>
						<div class="form-group col-md-6 col-sm-6" style="text-align: left">
							<label>Max Points:</label>
							<input [(ngModel)] = 'score' name= 'score' style="text-align: left" type="number" class="form-control" value= currentAssessement.rawScore  placeholder={{currentAssessment.rawScore}}/>
						</div>
							<div class="form-group col-md-6 col-sm-6" style="text-align: left">
							<label for="assessmentType">Assessment Type:</label> 
							<select name = 'selectedType' [(ngModel)] = 'selectedType' class="form-control" id='selectedType' required>
								<option value='default' disabled>{{currentAssessment.assessmentType}}</option>
								<option *ngFor ="let type of assessmentTypeDisplay" [ngValue] = type.name>{{type.name}}</option>
							</select>
						</div>						
					</div>
				</div>
				<!-- Edit/Delete Modal -->
				<div class="modal-header">
					<div style="float: left">
						<button (click)='deleteAssessment()' type="button" class="btn btn-danger"
						aria-label="Delete"data-dismiss="modal">Delete</button>
					</div>
					<div style="text-align: right">
						<input role = button (click) = 'editAssessment(score,selectedType,selectedCategory)' type="submit" value="Edit" class="btn btn-primary" data-dismiss="modal">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
		</div>
	</div>
</div>